.center {
	margin: auto;
	padding: 10px;
}

.bg {
	width: 100%;
	height: 100%;
	z-index: -1;
	
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;

    transform: scale(1.1);
}

#bg_index {
	background-image: url('/image/main_background.jpg');
}